@model MyShop.Core.ViewModels.ProductListViewModel
@{
    ViewBag.Title = "Products Page";
}

<h1>Products</h1>

<div class="col-md-2">
    <h4>Filter by Category</h4>
    <div class="list-group">
        @Html.ActionLink("All", "Index", null, new { @class = Request["Category"] == null ? "list-group-item active" : "list-group-item" })
        @foreach (var cat in Model.ProductCategories)
        {
            @Html.ActionLink(cat.Category, "Index", new { Category = cat.Category }, new { @class = Request["Category"] == cat.Category ? "list-group-item active" : "list-group-item" })
        }
    </div>
</div>
<div class="col-md-10">
    @foreach (var item in Model.Products)
    {
        <div class="col-md-2 productListItem" onclick="location.href='@Url.Action("Details", "Product", new { id = item.Id })'">
            <div class="col-md-12">
                <img class="img img-responsive" src="~/Content/ProductImages/@item.Image" />
            </div>
            <div class="col-md-12">
                <strong>@Html.ActionLink(item.Name, "Details", new { id = item.Id })</strong>
            </div>
            <div class="col-md-12">
                <p>@item.Description</p>
            </div>
            <div class="col-md-12">
                <h4>@String.Format("{0:c}", @item.Price)</h4>
            </div>
            <div class="col-md-12">
                <a href="@Url.Action("AddToBasket", "Basket", new { id = item.Id })" class="btn btn-default">Add to Basket</a>
            </div>
        </div>
    }
</div>

<div class="col-md-12 clearfix"></div>